@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  line-height: normal;
}

html, body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  background: #F4F4F4;

  height: 100%;
  margin: 0;
  padding: 0; 
}

p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
}

// Angular Material
.custom-modalbox {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px;
  } 
}
